<!--Este es el último paso de la plantilla de reinicio de contraseña, que es mostrada para notificarte cuando el reinicio de contraseña ha tenido éxito.-->


{% extends "base.html" %}<!--HEREDAMOS DE UNA PLATILLA LLAMADA base-->


{% block title %} Change password {% endblock %}


{% block searchform %}
{% endblock searchform %}


{% block cssfiles %}
{% endblock cssfiles %} 


{% block content %}

    <h1>The password has been changed!</h1>
    <p><a href="{% url 'login' %}">log in again?</a></p>

{% endblock %}


{% block jsfiles %}
{% endblock jsfiles %}