<!--Este es el formulario para obtener la dirección del correo electrónico del usuario (para enviar el correo de reinicio de contraseña)-->


{% extends "base.html" %}<!--HEREDAMOS DE UNA PLATILLA LLAMADA base-->


{% block title %} Change password {% endblock %}


{% block searchform %}
{% endblock searchform %}


{% block cssfiles %}
{% endblock cssfiles %} 


{% block content %}

    <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>

{% endblock %}


{% block jsfiles %}
{% endblock jsfiles %}