<!--Lista de followings del usuario logeado-->

{% extends "base.html" %}<!--HEREDAMOS DE UNA PLATILLA LLAMADA base-->

{% load static %}

{% block title %} Followings List {% endblock %}


{% block searchform %}
{% endblock searchform %}


{% block cssfiles %}
    
    <!--aunque se llame followers_list, tambien funciona para followings_list-->
    <link rel="stylesheet" href="{% static 'css/followers_list.css' %}" type="text/css" />

{% endblock cssfiles %} 


{% block content %}



    <div class="fixed-top d-flex flex-row justify-content-start border-bottom">
        <div class="p-2">
            {% if request.user == owner %}
                <a href="{% url 'myprofile' %}" class="link_icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </a>
            {% else %}
                <a href="{% url 'user_profile' owner %}" class="link_icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </a>
            {% endif %}
        </div>


        <div class="p-2 ml-5" style="color: black; font-size: 20px;">
            Followings
        </div>
        

    </div>

    <br><br>

    {% if followings %}<!--ENTRA SOLO SI HAY USUARIOS QUE RECOMENDAR-->
    
        {% for following in followings %}<!--Recorremos los usuarios que nos recomiendan para seguir-->   
         
            <div class="w-100 mt-4" id="MyFollower{{ following.user_id }}">
                <div class="d-flex flex-row justify-content-between">
                    <a href="{% url 'user_profile' following %}" class="link_icons">
                        <div class="d-flex flex-row justify-content-start p-2">
                            <div class="">
                                <img src="{{ following.photo.url }}" class="rounded-circle" width="45" height="45">  
                            </div>
                            <div class="ml-3 mt-1">
                                <span id="span_name">{{following}}</span>
                                {% if following.bio %}
                                    <br>
                                    <span id="span_bio">{{following.bio}}</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    
                    {% if not request.user.profile == following %}
                        {% if following.user in follow_sent %}<!--ENTRAMOS A ESTE IF SI A EL USUARIO AUN NO LE HEMOS ENVIADO LA SOLICITUD-->
                            <!--SI AL USUARIO LE ENVIAMOS LA SOLICITUD, ENTRARA ACA CON EL FIN DE QUE PODAMOS CANCELARLA-->
                            <div class="d-flex flex-row justify-content-between p-2 mr-1">
                                <div class="mt-1 mr-2">
                                    <a href="{% url 'send_or_delete_follower_request' %}" class="botton_request cancel_request" id='{{ following.user_id }}'>
                                        <button class="btn btn-warning">Cancel</button>
                                    </a>
                                </div> 
                            </div>
                        {% else %}
                        
                            {% if following in me_followings %}
                                <!--SI AL USUARIO LE ENVIAMOS LA SOLICITUD, ENTRARA ACA CON EL FIN DE QUE PODAMOS CANCELARLA-->
                                <div class="d-flex flex-row justify-content-between p-2 mr-1">
                                    <div class="mt-1 mr-2">
                                        <a href="{% url 'delete_following' %}" class="botton_request unfollow" id='{{ following.user_id }}'>
                                            <button class="btn btn-warning">Following</button>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex flex-row justify-content-between p-2 mr-1">
                                    <div class="mt-1 mr-2">
                                        <a href="{% url 'send_or_delete_follower_request' %}" class="botton_request follow_request" id='{{ following.user_id }}'>
                                            <button class="btn btn-primary">Follow</button>
                                        </a>
                                    </div>                        
                                </div>
                            {% endif %}
                            
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        {% endfor %}

    {% else %}

        <h5><i>There aren't followings</i></h5>
        
    {% endif %}    










    <!--page_obj.has_previous: Verifica si hay una página anterior.-->
    <!--page_obj.has_next: Verifica si hay una página posterior.-->
    <!--page_obj.previous_page_number: Devuelve el número de la página anterior.-->
    <!--page_obj.next_page_number: Devuelve el número de la siguiente página.-->
    <!--page_obj.number: Devuelve el número de la página actual.-->
    <!--page_obj.paginator.num_pages: Devuelve el número total de páginas.-->

    {% if is_paginated %}<!--CREO QUE ENTRARA A ESTE IF SI HAY MAS DE 10 PUBLICACIONES QUE ES CUANDO SE NECESITARA MAS DE UNA PAGINA PARA MOSTRAR TODAS LAS PUBLICACIONES-->

        {% if page_obj.has_previous %}<!--ENTRA A ESTE IF SI LA PAGINA EN LA QUE ESTAMOS TIENE UNA PREVIA, O SEA ESTAMOS EN LA 2, ENTONCES ENTRARA PARA PODER VOLVER A LA PRIMERA-->
            <!--LINK A LA PRIMERA PAGINA-->
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <!--LINK PARA IR A AL PAGINA ANTERIOR-->
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}<!--este for es para que se muestren determinada cantidad de numeros de paginas a los lados del numero en que estamos, en este caso 3 de cada lado, por ejemplo si estamos en la pagina 6, se mostra lo sigueinte: previos-4-5-"6"-7-8-next-->
            {% if page_obj.number == num %}<!--NOS FIJAMOS SI LA PAGINA ACTUAL ES IGUAL A num-->
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}<!--VERIFICA SI HAY UNA PAGINA POSTERIOR, SI LA HAY, ENTRA-->
            <!--LINK PARA ACCEDER A LA SIGUIENTE PAGINA-->
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <!---->
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}


    {{ url_send|json_script:"url_send" }}
    

{% endblock %}


{% block jsfiles %}

    <!--aunque se llame followers_list, tambien funciona para followings_list-->
    <script type="text/javascript" src="{% static 'js/followers_list.js' %}"></script>

{% endblock jsfiles %}